@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.player-wrapper {
  position: relative;
  /* 720 / 1280 = 0.5625 */
}

.react-player {
  width: 100% !important;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow: auto;
}

.item {
  flex: 1 1 200px;
  min-width: 200px;
  background-color: #0db994;
  padding: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}
.item:hover {
  background-color: #099a7b;
}
@media screen and (max-width: 600px) {
  .container {
    margin: 0 -3px;
    display: flex;
    scrollbar-width: none;
    scroll-padding-right: 50px;
  }
  .item {
    scroll-snap-align: start;
  }
}

.swiper {
  width: 1000px;
}
.swiper-slide {
  /* height: 900px; */
  display: flex;
  gap: 2rem;
  text-align: center;
}
